#reset_password_form{
    min-width: 100px;
    max-width: 420px;
}

#reset_password_form, #reset_password_success {
    border: solid black 1px;
    border-radius: 6px;
    margin: 0 auto;
}

#reset_password_form label{
    margin: 5px 0 0 0;
    width: 54%;
    display: inline-block;
    text-align: right;
}

#reset_password_form input[type='text']{
    display: inline-block;
}

#reset_password_success{
    width: 60%;
    padding: 5px;
    max-width: 500px;
}